h1 {
	text-align: center;
}
p {
    font-family: 'Roboto', sans-serif;
    
}
html, body {
	background-color: #fff;
	color: #000;
	margin: 10px 10px 10px 10px;
	padding: 0;
}

.NAGLOWEK {
	background-color: #888;
	height: 100px;
}

.MENU {
	width: 150px;
	float: right;
	overflow: auto;
	position: relative;
	background-color: #ccc;
    padding: 15px 15px 15px 15px;
	
}

.TRESC {
	margin-right: 150px;
	background-color: #fff;
	
}

.STOPKA {
	clear: both;
	background-color: #888;
	height: 78px;
}